/* 
#333D4F
#AEB0A1
#F2EFEB
#D27056
#6B3833
*/

.App {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.App-intro-container {
    grid-column: 1 / 1;
    text-align: right;
    padding: 1em;
    margin: 1em;
    border: 5px solid #333D4F;
    background-color: rgba(174, 176, 161, .4);
}

.App-header {
    color: #6B3833;
}

.App-subheader {
    color: #ffffff;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}


/* Navbar styling */
.main-nav {
    border-bottom: 1px solid #ffffff;
}

.main-nav ul {
    list-style: none;
}

.main-nav .nav-link {
    color: #ffffff;
    height: 40px;
    margin: 10px 15px 10px 15px;
    text-decoration: none;
    line-height: 1.6;
}

.main-nav .nav-link:hover {
    background-color: rgba(174, 176, 161, .4);
}



