/* Navbar styling */

.main-nav button {
    background-color: transparent;
    border-color: transparent;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav .nav-link {
    color: #333;
    padding: 20px 25px;
    text-decoration: none;
    line-height: 3;
}

.main-nav .red.nav-link:hover, 
.redDiv {
    background-color: rgba(179, 0, 0, .4);
    border: 5px solid rgb(179, 0, 0);
    color: #ffffff;
}

.main-nav .blue.nav-link:hover, 
.blueDiv {
    border: 5px solid #000099;
    background-color: rgba(0, 0, 153, .4);
    color: #ffffff;
}

.main-nav .yellow.nav-link:hover, 
.yellowDiv{
    background-color: rgba(204, 163, 0, .6);
    border: 5px solid rgb(204, 163, 0);
    color: #ffffff;
}

.main-nav .icon {
    display: block;
}

.main-nav .fa-bars {
    color: #800000;
}

.nav-menu-toggle {
    display: none;
}

.nav-menu-toggle.responsive {
    display: block;
}


/* LandingPage styling */

.LandingPage {
    background-image: url('./images/steve-johnson-709266-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.LandingPage-container {
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.LandingPage--img-container {
    width: 250px;
    margin-top: 1em;
    margin: auto;
}

.LandingPage--img-container:hover, 
.About--text-top:hover,
.Contact-div:hover {
    animation: redDiv 1s;
    animation-fill-mode: forwards;
}

.LandingPage--img-container img {
    width: 100%;
}

.LandingPage-intro-container {
    grid-column: 1 / 1;
    text-align: right;
    padding: 1em;
    margin: 1em;
}

.LandingPage-intro-container:hover, 
.About--text-right:hover,
.Contact-ad:hover {
    animation: blueDiv 1s;
    animation-fill-mode: forwards;
}

.LandingPage-subheader, 
.LandingPage-paragraph {
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.LandingPage-btn {
    cursor: pointer;
    margin: auto;
    padding: 15px 32px;
    font-size: 24px;
    text-decoration: none;
}
.LandingPage-btn:hover, 
.About--text-left:hover {
    animation: yellowDiv 1s;
    animation-fill-mode: forwards;
}

/* About Page */
.About {
    min-height: 100vh;
    background-color: #F2EFEB;
}

.About--img-container {
   width: 100%;
}

.About--img-container img{
    width: 100%;
 }

.About--text-top, 
.About--text-left, 
.About--text-right {
    padding: 1em;
}

.Art {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em; 
}

.Art-img {
    width: 90%;
    padding: 1em;
    display: flex;
    align-items: center;
}
.Art-img img{
    width: 100%;
}

/* Contact Page styling */

.Contact {
    background-image: url(./images/steve-johnson-1208417-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    padding-top: 1em;
}

.Contact-header, 
.Contact-info,
.Contact-ad-info{
    text-align: center;
    min-width: 100%;
}

.Contact-link:link,
.Contact-link:visited {
    color: #ffffff;
} 


/* Responsive Media Queries*/
@media screen and (min-width: 768px) {
    /* Navbar styling */
    .main-nav ul li {
        display: inline;
    }

    .main-nav .icon {
        display: none;
    }

    .nav-menu-toggle {
        display: block;
    }

    /* Landing Page styling */
    .LandingPage--img-container {
        width: 500px;
        margin: auto;
    }

    /* About Page Styling */
    
    /* Art Page Styling */
    .Art {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1em; 
    }
}

@media screen and (min-width: 1024px){

     /* LandingPage styling */
     .LandingPage-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .LandingPage--img-container {
        grid-column: 1 / 2;
        width: 280px;
        margin: auto;
    }

    .LandingPage-intro-container {
        grid-column: 2 / 4;
    }

    .LandingPage-header {
        margin-top: 10%;
    }

    .LandingPage-btn{
        grid-column: 2 / 3;
        font-size: 36px;
        margin-top: 1em;
    }

    /* About Page styling */
    .About--img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row: 1em;
     }

     .About--img-container img {
         grid-column: 2 / 5;
         grid-row: 2 / 4;
     }
     
     .About--text-top {
         grid-column: 1 / 6;
         font-size: 1.5em;
     }

     .About--text-right {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        font-size: 1.5em;
     }

     .About--text-left {
        grid-column: 5 / 6;
        grid-row: 2 / 4;
        font-size: 1.5em;
     }

     /* Contact Page Styling */
     .Contact {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto auto;
     }

     .Contact-div {
         grid-column: 2 / 3;
         grid-row: 2 / 3;
     }

     .Contact-ad {
         grid-column: 1 / 2;
     }
}

@media screen and (min-width: 1125px){
    .About--text-top, 
    .About--text-left,
    .About--text-right {
        font-size: 1.3987498em;
    }
}

/* Animations */
@keyframes yellowDiv {
    from {background-color: rgba(204, 163, 0, .6);}
    to {background-color: rgb(204, 163, 0);}
}

@keyframes blueDiv {
    from {background-color: rgba(0, 0, 153, .4);}
    to {background-color: rgb(0, 0, 153);}
}

@keyframes redDiv {
    from {background-color: rgba(179, 0, 0, .3);}
    to {background-color: rgb(179, 0, 0);}
}