/* 
#333D4F
#AEB0A1
#F2EFEB
#D27056
#6B3833
*/

/* Navbar styling */
.main-nav {
    border-bottom: 1px solid rgba(174, 176, 161, .4);
}

.main-nav button {
    background-color: transparent;
    border-color: transparent;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav .nav-link {
    color: #ffffff;
    padding: 20px 25px;
    text-decoration: none;
    line-height: 3;
}

.main-nav .nav-link:hover {
    background-color: rgba(174, 176, 161, .4);
}

.main-nav .icon {
    display: block;
}

.main-nav .fa-bars {
    color: #ffffff;
}

.nav-menu-toggle {
    display: none;
}

.nav-menu-toggle.responsive {
    display: block;
}


/* LandingPage styling */

.LandingPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.LandingPage-intro-container {
    grid-column: 1 / 1;
    text-align: right;
    padding: 1em;
    margin: 1em;
    border: 5px solid #333D4F;
    background-color: rgba(174, 176, 161, .4);
}

.LandingPage-header {
    color: #6B3833;
}

.LandingPage-subheader {
    color: #ffffff;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.LandingPage-btn {
    background-color: #D27056;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    padding: 15px 32px;
    font-size: 16px;
    text-decoration: none;
}



@media screen and (min-width: 768px) {
    /* Navbar styling */
    .main-nav ul li {
        display: inline;
    }

    .main-nav .icon {
        display: none;
    }

    .nav-menu-toggle {
        display: block;
    }
}

@media screen and (min-width: 1024px){
     /* LandingPage styling */
     .LandingPage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .LandingPage-intro-container {
        grid-column: 3 / 4;
    }

    .LandingPage-header {
        margin-top: 15%;
    }

    .LandingPage-subheader {
        margin-top: 40%;
    }

    .LandingPage-btn{
        grid-column: 2 / 3;
    }

}



